@import "../../App";

.article {
  .article-img {
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .title {
    font-size: $font-size-3;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .desc {
    font-size: $font-size-2;
    color: $hover-text;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 32px;
  }
}
